.App, .App__gridContainer {
    height: 100%;
}

.App__gridContainer {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
}

.App__gridContainer>header {
    grid-area: header;
    background-color: white;
    display: flex;
    justify-content: center;
    margin-right: 600px;
    align-items: center;
    padding: 2rem;
}

.App__gridContainer>header>a {
    color: black;
    font-weight: 600;
    font-size: 3rem;
    text-decoration: none;
}

.App__gridContainer a:hover {
    color: #364792;
}

.App__gridContainer>main {
    grid-area: main;
}

.App__content {
    display: flex;
    /* flex-wrap: wrap; */
}

.App__mainContent {
    flex: 2.5 60rem;
}

.App__sidebar {
    flex: 1.5 20rem;
    max-width: 700px;
}

.App__gridContainer>footer {
    font-size: 1.3rem;
    grid-area: footer;
    background-color: #1B275B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App__footerName {
    font-size: 1.5rem;
    padding: 0 5px;
    color: white;
}

.App__footerHeart {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #d92e33
}