.App, .App__gridContainer {
    height: 100%;
}

.App__gridContainer {
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
}

.App__gridContainer>header {
    grid-area: header;
    background-color: #203040;
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.App__gridContainer>header>a {
    color: white;
    text-decoration: none;
}

.App__gridContainer a:hover {
    color: #ff8000;
}

.App__gridContainer>main {
    grid-area: main;
}

.App__gridContainer>footer {
    grid-area: footer;
    background-color: #203040;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}