*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body, #root {
  height: 100vh;
}

body, input, select, textarea {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}